
<header class="container container-fluid">
   <div class="row">
      <div class="mx-auto col-sm-12">
         <h1 class="text-center"><a href="/">{{ site.title }}</a></h1>
      </div>
   </div>
   <div class="row">
      <div class="mx-auto col-md-8 col-md-offset-2">
         <div class="mx-auto tagline col-md-8 col-md-offset-2">
           My thoughts. No filter. No permission needed.
         </div> <!-- col -->
      </div> <!-- col -->
   </div> <!-- row -->

   {% include subscribe.html %}

   <hr>
</header>
