
<div class="row subscribe">
   <div class="mx-auto col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <nav>
		<a class="btn btn-outline-secondary" href="{{ site.links.twitter }}" title="Follow me on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Follow</a>
	      <a class="btn btn-outline-secondary" href="{{ site.links.linkedin }}" title="connect with me on Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i> Connect</a>
		
		
      </nav>
   </div> <!-- col -->
</div> <!-- row -->
